.footer {
  width: 100%;
  background-color: #313030;
  color: #fff;
  padding: 40px 140px 30px 140px; /* top, sides, bottom */
  margin-top: 60px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

/* LEFT */
.footer-left h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px
}

.footer-left p {
  font-size: 10px;
  line-height: 1.6;
  max-width: 300px;
}

.konnect {
    font-size: 13px;
}
/* CENTER LINKS */
.footer-center h4 {
  font-size: 18px;
  margin-bottom: 15px;
  
}

.footer-center ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-center ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-center ul li a:hover {
  color: #f4b400;
}

/* RIGHT CONTACT */
.footer-right h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-right p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* SOCIAL ICONS */
.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-icons img {
  height: 28px;
  width: 28px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.social-icons img:hover {
  transform: scale(1.2);
}

/* FOOTER BOTTOM */
.footer-bottom {
  text-align: left;
  margin-top: 40px;
  font-size: 14px;
  color: #aaa;
}
