.hero {
  width: 100%;
  height: 100vh;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 0 120px; 
  margin-top: 4rem;
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #fff;
  color: black;
}


.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 248, 248, 0.541); 
  z-index: 1;
}

/* LEFT SIDE (Text + Buttons) */
.hero-left {
  position: relative;
  z-index: 2;
  max-width: 600px;
  margin-right: 2rem;
}

.hero-left h1 {
  font-size: 60px; 
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.2;
}

.hero-left p {
  font-size: 20px; 
  margin-bottom: 40px;
  color: #0e0101;
}

.hero-buttons {
  display: flex;
  gap: 30px;
}

.hero-buttons img {
  height: 70px;
  margin-top: -1rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.hero-buttons img:hover {
  transform: scale(1.05);
}

/* RIGHT SIDE (Image) */
.hero-right {
  position: relative;
  z-index: 2;
}

.hero-right img {
  max-width: 320px;
  max-height: 500px;
  width: 100%;
  height: auto;
  margin-right: 8rem;
  object-fit: contain; 
}

/* Make hero fully visible on desktop screens */
@media (max-width: 1440px) {
  .hero {
    padding: 0 80px;
  }

  .hero-left h1 {
    font-size: 50px;
  }

  .hero-left p {
    font-size: 18px;
  }

  .hero-right img {
    height: 500px;
  }
}
